body {
    font-family: Gill Sans mt, sans-serif;
    background-color: antiquewhite;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  h2 {
    color: blueviolet;
    text-align: center;
  }
  
  table {
    border: 2px solid blueviolet;
    width: 700px;
    margin: 0 auto;
  }
  
  thead {
    background-color: blue;
    color: aqua;
  }
  
  td {
    border-top: 1px solid blueviolet;
  }
  
  .code {
    font-family: Arial;
    background-color: lightskyblue;
  }